@model PracticeWeb.UI.Models.AppointmentModel

@{
    ViewBag.Title = "Schedule";
    ViewBag.PageName = "schedule";
}

<div class="content-wrapper">
    <!-- Page header -->
    <div class="page-header page-header-default">
        <div class="page-header-content">
            <div class="page-title">
                <h4>
                    <i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Schedule</span>  <!-- Button trigger modal -->
                    <button type="button" class="btn btn_add_patient pull-right" data-toggle="modal" data-target="#model_AddPatient">
                        <b> Add Patient</b>
                    </button>
                </h4>
            </div>
        </div>

        <div class="breadcrumb-line">
            <ul class="breadcrumb">
                <li><a href="index.html"><i class="icon-home2 position-left"></i> Home</a></li>
                <li class="active">Schedule</li>
            </ul>

            <ul class="breadcrumb-elements">
                <li><a href="#"><i class="icon-comment-discussion position-left"></i> Support</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-gear position-left"></i>
                        Settings
                        <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="#"><i class="icon-user-lock"></i> Account security</a></li>
                        <li><a href="#"><i class="icon-statistics"></i> Analytics</a></li>
                        <li><a href="#"><i class="icon-accessibility"></i> Accessibility</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="icon-gear"></i> All settings</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- /page header -->
    <!-- Content area -->
    <div class="content">
        <div class="row">
            <div class="col-md-12 col-sm-12">

                <div class="panel panel-flat">
                    <div class="panel-body">

                        <div class="content-wrapper">

                            <!-- Page header -->
                            <div class="page-header page-header-default">
                                <div class="page-header-content">
                                    <div class="page-title">
                                        <h4>
                                            <i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Schedule</span>  <!-- Button trigger modal -->
                                            <button type="button" class="btn btn_add_patient pull-right" data-toggle="modal" data-target="#model_AddPatient">
                                                <b> Add Patient</b>
                                            </button>
                                        </h4>
                                    </div>
                                </div>

                                <div class="breadcrumb-line">
                                    <ul class="breadcrumb">
                                        <li><a href="index.html"><i class="icon-home2 position-left"></i> Home</a></li>
                                        <li class="active">Schedule</li>
                                    </ul>

                                    <ul class="breadcrumb-elements">
                                        <li><a href="#"> <strong>Waiting:</strong> 0 </a></li>
                                        <li><a href="#"> <strong>Seated:</strong> 0 </a></li>
                                        <li><a href="#"> <strong>Ready for Checkout:</strong> 0 </a></li>
                                        <li><a href="#"> <strong>Dismissed:</strong> 0 </a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /page header -->
                            <!-- Content area -->
                            <div class="content">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">

                                        <div class="panel panel-flat">
                                            <div class="panel-body">

                                                <div class="row">
                                                    <div class="col-md-10 col-sm-9 col-xs-12">
                                                        <div id="team-schedule">
                                                            <div id="people">
                                                                <div class="navbar">

                                                                    <div class="navbar-header">
                                                                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                                                            <span class="sr-only">Toggle navigation</span>
                                                                            <span class="icon-bar"></span>
                                                                            <span class="icon-bar"></span>
                                                                            <span class="icon-bar"></span>
                                                                        </button>
                                                                    </div>
                                                                    <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
                                                                        <ul class="nav navbar-nav">
                                                                            <li class="link1"><a href="#">Casa Grande</a></li>
                                                                            <li class="link2"><a href="#">Chandler</a></li>
                                                                            <li class="link3 active"><a href="#contact">Phoenix</a></li>
                                                                            <li class="link4"><a href="#">Tatum</a></li>
                                                                        </ul>
                                                                    </div><!--/.nav-collapse -->

                                                                </div>

                                                            </div>


                                                            <div class="search_block">
                                                                <input type="text" class="search_feild" placeholder="Search here..." />
                                                                <input type="submit" value="search" class="search_btn" />
                                                            </div>
                                                        </div>
                                                        <div id="scheduler"></div>
                                                    </div>
                                                    <div class="col-md-2 col-sm-3 col-xs-12 sidebar_right">
                                                        <div class="panel text-center Occupied_box">
                                                            <div class="panel-heading">
                                                                <h5 class="panel-title">Consult</h5>
                                                            </div>
                                                            <div class="panel-body">
                                                                Occupied
                                                            </div>
                                                        </div>
                                                        <!-- end panel -->

                                                        <div class="panel text-center Occupied_box">
                                                            <div class="panel-heading">
                                                                <h5 class="panel-title">Chair 1</h5>
                                                            </div>
                                                            <div class="panel-body">
                                                                Occupied
                                                            </div>
                                                        </div>
                                                        <!-- end panel -->

                                                        <div class="panel text-center free_box">
                                                            <div class="panel-heading">
                                                                <h5 class="panel-title">Chair 2</h5>
                                                            </div>
                                                            <div class="panel-body">
                                                                <span class="blink">Free</span>
                                                            </div>
                                                        </div>
                                                        <!-- end panel -->

                                                        <div class="panel text-center Occupied_box">
                                                            <div class="panel-heading">
                                                                <h5 class="panel-title">Chair 3</h5>
                                                            </div>
                                                            <div class="panel-body">
                                                                Occupied
                                                            </div>
                                                        </div>
                                                        <!-- end panel -->

                                                        <div class="panel text-center Occupied_box">
                                                            <div class="panel-heading">
                                                                <h5 class="panel-title">Chair 4</h5>
                                                            </div>
                                                            <div class="panel-body">
                                                                Occupied
                                                            </div>
                                                        </div>
                                                        <!-- end panel -->

                                                        <div class="panel text-center Occupied_box">
                                                            <div class="panel-heading">
                                                                <h5 class="panel-title">Chair 5</h5>
                                                            </div>
                                                            <div class="panel-body">
                                                                Occupied
                                                            </div>
                                                        </div>
                                                        <!-- end panel -->

                                                        <div class="panel text-center Occupied_box">
                                                            <div class="panel-heading">
                                                                <h5 class="panel-title">Chair 6</h5>
                                                            </div>
                                                            <div class="panel-body">
                                                                Occupied
                                                            </div>
                                                        </div>
                                                        <!-- end panel -->
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end panel-body -->

                                        </div>
                                        <!-- end panel -->

                                    </div>
                                </div>
                                <!-- Footer -->
                                <div class="footer text-muted">
                                    &copy; 2017. PW-Admin
                                </div>
                                <!-- /footer -->

                            </div>
                            <!-- /content area -->

                        </div>

                    </div>
                    <!-- end panel-body -->

                </div>
                <!-- end panel -->

            </div>
        </div>
        <!-- Footer -->
        <div class="footer text-muted">
            &copy; 2017. PW-Admin
        </div>
        <!-- /footer -->

    </div>
    <!-- /content area -->
</div>

<script id="customEditorTemplate" type="text/x-kendo-template">
    <div class="k-edit-label"><label for="title">Patient</label></div>
    <div data-container-for="title" class="k-edit-field" style="display:none;">
        <input type="text" class="k-input k-textbox" name="title" required="required" data-bind="value:title">
    </div>
    <div data-container-for="patient" class="k-edit-field">
        <select id="patient" data-bind="value:patient" data-role="dropdownlist"
                data-value-field="value" data-text-field="text">
            @if (Model.PatientList != null && Model.PatientList.Count > 0)
            {
                foreach (var patient in Model.PatientList)
                {
                    <option value="@patient.PatNum">@patient.Name</option>
                }
            }
        </select>
    </div>
    <div class="k-edit-label">
        <label for="start">Start</label>
    </div>
    <div data-container-for="start" class="k-edit-field">
        <input type="text"
               data-role="datetimepicker"
               data-interval="15"
               data-type="date"
               data-bind="value:start,invisible:isAllDay"
               name="start" />
        <input type="text" data-type="date" data-role="datepicker" data-bind="value:start,visible:isAllDay" name="start" />
        <span data-bind="text: startTimezone"></span>
        <span data-for="start" class="k-invalid-msg" style="display: none;"></span>
    </div>
    <div class="k-edit-label"><label for="end">End</label></div>
    <div data-container-for="end" class="k-edit-field">
        <input type="text" data-type="date" data-role="datetimepicker" data-bind="value:end,invisible:isAllDay" name="end" data-datecompare-msg="End date should be greater than or equal to the start date" />
        <input type="text" data-type="date" data-role="datepicker" data-bind="value:end,visible:isAllDay" name="end" data-datecompare-msg="End date should be greater than or equal to the start date" />
        <span data-bind="text: endTimezone"></span>
        <span data-bind="text: startTimezone, invisible: endTimezone"></span>
        <span data-for="end" class="k-invalid-msg" style="display: none;"></span>
    </div>
    <div class="k-edit-label"><label for="description">Description</label></div>
    <div data-container-for="description" class="k-edit-field">
        <textarea name="description" class="k-textbox" data-bind="value:description"></textarea>
    </div>
    <div class="k-edit-label"><label for="attendees">Room</label></div>
    <div data-container-for="roomId" class="k-edit-field">
        <select id="roomId" data-bind="value:roomId" data-role="dropdownlist"
                data-value-field="value" data-text-field="text">
            @if (Model.RoomList != null && Model.RoomList.Count > 0)
            {
                foreach (var room in Model.RoomList)
                {
                    <option value="@room.OperatoryID">@room.OperatoryName</option>
                }
            }
        </select>
    </div>
    <div class="k-edit-label"><label for="attendees">Doctor</label></div>
    <div data-container-for="attendees" class="k-edit-field">
        <select id="attendees" data-bind="value:attendees" data-role="dropdownlist"
                data-value-field="value" data-text-field="text">
            @if (Model.DoctorList != null && Model.DoctorList.Count > 0)
            {
                foreach (var doctor in Model.DoctorList)
                {
                    <option value="@doctor.DoctorId">@doctor.DoctorName</option>
                }
            }
        </select>
    </div>
</script>

<script type="text/javascript">
    $(function () {
        var roomListJson = JSON.parse('@Html.Raw(Model.RoomListJson)');

        $("#scheduler").kendoScheduler({
            date: new Date(),
            majorTick: 15, // a major tick represents 120 minutes (2 hours)
            minorTickCount: 1,
            majorTimeHeaderTemplate: kendo.template("<strong>#=kendo.toString(date, 'h')#</strong><sup>#=kendo.toString(date, 'mm')#</sup>"),
            startTime: new Date("2017/8/01 10:00 AM"),
            height: 630,
            views: [
                //"day",
                { type: "day", selected: true },
                //"week",
                { type: "week", title: "Week" },
                { type: "month", title: "Month" },
                { type: "agenda", title: "List View" }
            ],
            messages: {
                editor: {
                    editorTitle: "Appointment"
                }
            },
            timezone: "Etc/UTC",
            editable: {
                template: $("#customEditorTemplate").html()
            },

            dataSource: {
                batch: true,
                transport: {
                    read: {
                        url: "@Url.Action("GetAppointmentList", "Appointment")",
                        //dataType: "jsonp"
                    }
                    ,
                    update: {
                        url: "@Url.Action("AddUpdateAppointment", "Appointment")",
                        //dataType: "jsonp"
                    },
                    create: {
                        url: "@Url.Action("AddUpdateAppointment", "Appointment")",
                        //dataType: "jsonp"
                    },
                    destroy: {
                        url: "@Url.Action("DeleteAppointment", "Appointment")",
                        //dataType: "jsonp"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "read" && options.models) {
                            return { models: kendo.stringify(options.models) };
                        }
                    }
                },
                schema: {
                    model: {
                        id: "meetingID",
                        fields: {
                            meetingID: { from: "AppointmentID", type: "number" },

                            title: { from: "PatName", defaultValue: "Pat Name" },
                            start: { type: "date", from: "StartTime" },
                            end: { type: "date", from: "EndTime" },
                            //startTimezone: { from: "StartTimezone" },
                            //endTimezone: { from: "EndTimezone" },
                            description: { from: "Description" },
                            //recurrenceId: { from: "RecurrenceID" },
                            //recurrenceRule: { from: "RecurrenceRule" },
                            //recurrenceException: { from: "RecurrenceException" },
                            patient: { from: "PatNum", type: "number", validation: { required: true } },
                            roomId: { from: "OperatoryID", nullable: true },
                            attendees: { from: "DoctorID", type: "number", validation: { required: true } },
                            isAllDay: { type: "boolean", from: "IsAllDay" }
                        }
                    }
                }
            },
            group: {
                date: true,
                resources: ["Rooms"]

            },
            resources: [
                {
                    field: "roomId",
                    name: "Rooms",
                    dataSource: roomListJson,
                    title: "Chair"
                },
            ]
        });


        var scheduler = $("#scheduler").data("kendoScheduler");


        $(".search_btn").click(function () {
            scheduler.addEvent({});
            $(".k-widget.k-window").addClass("bookedAppointement");
        });

        $("#orientation").kendoDropDownList({
            value: scheduler.options.group.orientation,
            change: function () {
                scheduler.options.group.orientation = this.value();
                scheduler.view(scheduler.view().name);
            }
        });
    });

</script>

